<% @user.followings.each do |user| %>
<table>
    <%= link_to user_posts_path(user.id) do %>

                <%= attachment_image_tag user, :image, size: "100x100", format: 'jpeg', class: "attachment post profile_image fallback", fallback: "no_image.jpg"  %>

                <%= user.name %>

                <%= user.introduction %>

    <% end %>
</table>
<% end %>

