// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.box-container{
    border: 2px solid #ddd;
    padding: 10px;
}

.img-border{
    border: 2px solid #ddd;
}

.border-bottom{
    border-bottom: 2px solid #ddd;
    padding: 20px 0;
}

.post_image{
    margin: 20px 0;
}

.post-memo, .training-menu{
    margin: 10px 0;
}